# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: fgabler <mail@student.42heilbronn.de>      +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2023/07/26 19:33:09 by fgabler           #+#    #+#              #
#    Updated: 2023/07/26 19:33:14 by fgabler          ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

.ccls
.git
.ccls-cache
.DS*
*.o
